.time0 {
    border-radius: 10px;
    background-color: #1a3d2c;
    background-image: none;
    color: #76b730;
    border: 3px solid #76b730;
    padding: 5px 10px;
    font-size: 1.6em;
}
.canvas0 {
    border-radius: 10px;
    background-color: #1a3d2c;
    background-image: none;
    color: #76b730;
    border: 3px solid #76b730;
    padding: 5px 10px;
    font-size: 1.6em;
}
.time1 {
    border-radius: 10px;
    background-color: #1a3d2c;
    background-image: none;
    color: #76b730;
    border: 3px solid #76b730;
    padding: 5px 10px;
    font-size: 1.6em;
}
.canvas1 {
    border-radius: 10px;
    background-color: #1a3d2c;
    background-image: none;
    color: #76b730;
    border: 3px solid #76b730;
    padding: 5px 10px;
    font-size: 1.6em;
}
