* {
	color: @main-fg;
	background: @main-bg;
	opacity: 1;
	margin: 0px 0px 0px 0px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio, 
#workspaces,
#temperature,
#workspaces,
#power {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #1a3d2c;
	color: #76b730;
	border: 3px solid #76b730;
}
